{%- assign mainMenu = linklists[section.settings.menu].links -%}


<header class="js-header">
    <a href="{{ routes.root.url }}">
        {% if section.settings.logo != blank %}
            {{ section.settings.logo | image_url: width: 250 | image_tag: loading: 'eager' }}
        {% else %}
            <h1>14</h1>
        {% endif %}

    </a>
    <div>

    </div>

</header>

{% schema %}
{

    "name": "Jersey Soul - Header",
    "settings": [
    {
        "type": "link_list",
        "id": "menu",
        "label": "Menu Principal"
    }
    ],
    "presets": [
        {
            "name": "JS Header"
        }
    ]
}
{% endschema %}
