{%- assign jsLogo = settings.logo -%}

<!-- CSS link -->
{{ 'js-header.css' | asset_url | stylesheet_tag }}

<!-- GSAP file -->
<script src="{{ 'js-header-gsap.js' | asset_url }}" defer="defer"></script>

<section class="js-hero">
    
</section>