{%- assign mainMenu = linklists[section.settings.menu].links -%}


<header id="js-header">
    <a href="{{ routes.root.url }}">
        {% if section.settings.logo != blank %}
            {{ section.settings.logo | image_url: width: 250 | image_tag: loading: 'eager' }}
        {% else %}
            <h1>14</h1>
        {% endif %}

    </a>
    <div>

    </div>

</header>

{% schema %}
{

    "name": "JS Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Jersey Soul Header"
        }
    ],
    "presets": [
        {
            "name": "Jersey Soul Header",
            "category": "Header",
            "blocks": [
                {
                    "type": "_header-logo"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "_header-logo"
        }
        
    ]

}
{% endschema %}
