* {
    margin: 0;
}

:root {
    --acoNitido: #7A8B99;
    --cremeRico: #fefdf1;
    --pretoProfundo: #111111;
    --linhoLimpo: #f2f4e8;
    --vermelhoRubi: #d32f2f;
}

.js-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.js-header-container {
    width: 100vw;
    height: 100px;
    background-color: var(--linhoLimpo);
    display: grid;
    grid-template-columns: 4fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
    gap: 5px;
    padding: 0 60px;
}

.js-header-logo {
    width: 250px !important;
    max-width: 250px !important;
    position: relative;
    top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px auto;
}

.header-upper-nav {
    width: 100% !important;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-between;
}

.upper-nav-field {
    /* background-color: yellowgreen; */
    height: 100px;
    display: flex;
        
    }