* {
    margin: 0;
}

:root {
    --acoNitido: #7A8B99;
    --cremeRico: #fefdf1;
    --pretoProfundo: #111111;
    --linhoLimpo: #f2f4e8;
    --vermelhoRubi: #d32f2f;
}

.js-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.js-header-container {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
    gap: 5px;
    padding: 0 60px;
}

.js-header-logo {
    width: 250px !important;
    max-width: 250px !important;
    position: relative;
    top: -70px;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px auto;
    margin-bottom: -100px;
}

.header-upper-nav {
    width: 150px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-between;
}

.upper-nav-field {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a>i {
    color: var(--acoNitido);
    font-size: 20px;
}

a>i:hover {
    color: var(--vermelhoRubi);
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

.header-nav-list {
    width: 500px;
    height: 50px;
    margin: 20px auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    font-size: 17px;
    font-weight: 400;
}

.header-nav-opt .nav-active{
    font-weight: 500;
    color: var(--acoNitido);
}

.header-nav-opt:hover {
    font-weight: bolder;
    border-bottom: solid 3px var(--vermelhoRubi);
}