* {
    margin: 0;
}

:root {
    --acoNitido: #7A8B99;
    --cremeRico: #fefdf1;
    --pretoProfundo: #111111;
    --linhoLimpo: #f2f4e8;
    --vermelhoRubi: #d32f2f;
}

.logo-placeholder{
    display: block;
    width: 100px !important;
    height: 100px !important;
    background-color: var(--acoNitido);
}

.js-header-container {
    width: 100vw;
    background-color: var(--linhoLimpo);
    display: grid;
    grid-template-columns: 1fr 300px;
}

.js-header-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-upper-nav {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
}

.header-upper-nav {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
}